.twitterIcon{
  color: rgb(0, 172, 237);
}

.githubIcon{
  color: rgb(102, 43, 129);
}

.facebookIcon{
  color: rgb(59, 89, 163);
}

.gmailIcon{
  color: rgb(221, 75, 57);
}

.codepenIcon{
  color: white;
}

html{
  font-size: 1.5em;
}

body{
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.btn-default{
  background-color: black;
  border-color: black;
  color: #337ab7;
  font-size: 1.7rem;
  margin-top: 1%;
}

/* ----------------- NAVIGATION BAR -----------------*/
#navBar{
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
  opacity: .6;
  background-color: #3e3b4d;
  border: 0;
}

#navTitle{
  font-size: 1.5rem;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navElement:hover{
  background-color: rgba(255, 222, 0, 1);
  border-radius: 0.5rem;
}

/* ----------------- MAIN PAGE (JUMBOTRON) -----------------*/
.jumbotron{
  background-image: url("../img/jumboImg.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.block{
  background-color: black;
  opacity: .9;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.9rem;
}

.mainPage{
  font-size: 3rem;
  color: rgba(247, 202, 23, 0.71);
}

.jumbotron .h1, .jumbotron h1 {
  color: rgba(247, 202, 23, 0.71);
}

.subtitle{
  font-size: 1.8rem;
  color: #295ed1;
}

/* ----------------- LITTLE SUMMARY -----------------*/
#p2{
  background: url("../img/summaryBG.png") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #03C9A9;
  font-size: 1.5rem;
}

#sumTitle{
  font-size: 3rem;
  color: #C8F7C5;
}

#myPicture{
  margin: 0 auto;
  padding: 4%;
  height: 60%;
  width: 60%;
  border-radius: 15%;
}

.lista{
  font-size: 1.8rem;
  color: #86E2D5;
}

/************** PORTAFOLIO ******************/
.portfolioPhrase{
  background-color: black;
  opacity: .8;
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.5rem;
}

#p3{
  background: url("../img/portfolioBG.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(228, 252, 27);
  font-size: 2.4rem;
}

.githubProject{
  height: 400px;
  margin: auto;
}

.portfolioProject{
  font-size: 2rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right, padding-left: 2px;
}

.codepenProject{
  margin-top: -52px;
}

.projectTitle{
  color: white;
}








.pageFour{
  background: url(https://images6.alphacoders.com/664/664307.jpg);
  background-size: cover;
  padding-bottom: 5%;
  padding-top: 5%;
}

.footer p{
  font-size: 18px;
}

.paddingBTN{
   width:200px;
   margin-bottom:25px;
}

.footer{
  background-color: black;
}

.footer a{
  vertical-align: middle;
}
