// Colors
$white: #fff;


// Layout variables
$max-width: 1024px;
$gutter: 16px;

// Font sizes
$m: 16px;
$xl: $m * 1.5;
$l: $m * 1.25;
$s: $m * 0.8;
$xs: $m * 0.7;

@import "base/normalize";
@import "base/base.scss";
@import "layout/header.scss";
@import "layout/widgets.scss";
@import "modules/menu.scss";
@import "layout/about.scss";
@import "layout/skills.scss";