html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description" description="Computer Science Student")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya:700|NTR")
        link(rel="stylesheet", href="https://file.myfontastic.com/qi6t46LMLghuuP8FayLhoD/icons.css")
        link(rel="stylesheet", href="css/styles.css")
        //- title Carlos Córdova | Computer Science
        title Portfolio
    body.stop-scroll
        header.main-header#header
            nav.menu
                .main-menu.container
                    a(href="#").main-menu__link.main-menu__title Carlos Córdova
                    ul.main-menu__items
                        li.main-menu__item
                            a(href="#about").main-menu__link About me
                        li.main-menu__item
                            a(href="#skills").main-menu__link My skills
                        li.main-menu__item
                            a(href="#works").main-menu__link Latests works
                        li.main-menu__item
                            a(href="#contact").main-menu__link Contact me!
            
            .container.main-page
                h1.main-page__title Hello and Welcome!
                .main-page__widget
                    a(href="#about").main-page__widget__button ABOUT ME
                    a(href="#about").main-page__widget__icon.icon-angle-down
        
        main.section-1#about
            .container.about
                .about__info
                    p.about__number #1
                    h2.about__title A Little About Me
                    h2.about__icon.icon-comments-o
                        .icon__line
                .about__data
                    .about__data__img-container
                        img(src="img/about-img.jpg", alt="Laptop").about__data__img
                    p.about__data__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas eligendi suscipit neque minima praesentium, harum aspernatur minus non. Veritatis amet tenetur doloremque culpa id! Assumenda placeat vitae amet unde alias! Magnam itaque molestiae quibusdam ex, cum placeat iste. Dolores rem esse quam voluptatibus. Aliquid natus ipsum mollitia exercitationem placeat eius.
        
        .section-2#skills
            .container.skills
                .skills__info
                    p.skills__number #2
                    h2.skills__title Some Of My Skills
                    h2.skills__icon.icon-code
                        .icon__line
                .skills__data
                    p.skills__data__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum numquam itaque accusantium harum sunt et praesentium eius beatae optio?
                    .skills__data__widget
                        .skills__data__widget-1
                            img(src="img/skill_video.png", alt="Video Edition").skills__data__widget__img
                            h3.skills__data__widget__icon.icon-play
                            h3.skills__data__widget__title Video Edition
                            p.skills__data__widget__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, tempore id aliquam expedita modi cupiditate!
                        .skills__data__widget-2
                            img(src="img/skill_clean.png", alt="Clean Coding").skills__data__widget__img
                            h3.skills__data__widget__icon.icon-bulb
                            h3.skills__data__widget__title Clean Coding
                            p.skills__data__widget__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, alias. Magnam, consectetur iusto?
                        .skills__data__widget-3
                            img(src="img/skill_gaming.png", alt="Gaming Apps").skills__data__widget__img
                            h3.skills__data__widget__icon.icon-gamepad
                            h3.skills__data__widget__title Gaming Apps
                            p.skills__data__widget__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, quo dignissimos. Corporis quibusdam sequi adipisci nam praesentium.
                        .skills__data__widget-4
                            img(src="img/skill_betatest.png", alt="Beta Testing").skills__data__widget__img
                            h3.skills__data__widget__icon.icon-flask
                            h3.skills__data__widget__title Beta Testing
                            p.skills__data__widget__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore odit maiores veniam nam eaque minus!
            
        .section-3#works
            .container.works
                .works__info
                    p.works__number #3
                    h2.works__title My Latest Work
                    h2.works__icon.icon-heart-o
                        .icon__line
                .works__data
                    p.works__data__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum numquam itaque accusantium harum sunt et praesentium eius beatae optio?
                    .works__data__latest
                        img.works__data__latest__img(src="img/work_1.png", alt="Work 1")
                        img.works__data__latest__img(src="img/work_2.png", alt="Work 2")
                        img.works__data__latest__img(src="img/work_3.png", alt="Work 3")
                        img.works__data__latest__img(src="img/work_4.png", alt="Work 4")
                        img.works__data__latest__img(src="img/work_5.png", alt="Work 5")
                a(href="#").works__button LOAD MORE                        
        .section-4#contact
            .container.contact
                .contact__info
                    p.contact__number #4
                    h2.contact__title Get In Touch
                    h2.contact__icon.icon-external-link
                        .icon__line
                .contact__data
                    p.contact__data__description Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    p.contact__data__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed cumque nihil.
                    .contact__social
                        a(href="#").contact__social__item.icon-behance
                        a(href="#").contact__social__item.icon-facebook
                        a(href="#").contact__social__item.icon-pinterest
                        a(href="#").contact__social__item.icon-twitter
                        a(href="#").contact__social__item.icon-soundcloud
            .contact__data
                .contact__data__description
                .contact__data__pages
        footer#footer
            .footer.container
                p.footer__text Firmly aiming for the #[span.icon-star]  is always a good idea
        
        script(src="js/fullPageSlider.js")
                    
            
            
            
