.main-header {
    background-image: url('../img/mainPage.jpg');
    background-size: cover;
    height: 100vh;
    @media screen and (min-width: 768px) {
        background-position: center center;    
    }    
}

.main-page {
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;

    &__title {
        font-family: 'Alegreya', serif;
        margin: 0;
        @media screen and (min-width: 1024px) {
            font-size: 3em;
        }
    }

    &-button {
        // height: 20%;
        // display: none;  
        font-size: $s;  
        display: flex;
        justify-content: center;
        &__button {
            // display: block;
            text-align: center;
            font-weight: bold;
            padding: .6em 1.3em;
            border: 2px solid white;
            border-radius: .3em;

            @media screen and (min-width: 768px) {
                font-size: 1em;
            }

            @media screen and (min-width: 1024px) {
                font-size: 1.1em;
            }
        }
    }

    &-icon {
        display: flex;
        justify-content: center;
        
        &__icon-angle-down {
            padding-top: .25em;
            font-size: 1.5em;
        }
    }
}